/*
 @import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC&display=swap');
body {
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ysabeau SC', sans-serif;
}

nav ul li {
    padding: 0 12px;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

.brand img {
    width:44px;
    padding: 0 8px ;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size:1.3rem ;
}

.bottom {
    position: sticky;
    bottom: 0;
    height: 130px;
    background-color: black;
    color: white; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}

.icons{
    margin-top: 14px;
}
.icons i {
    cursor: pointer;
    width: 30px;
    
}

.container{
    min-height: 72vh;
    background-color: black;
    color: white;
    display: flex ;
    align-items: center;
    justify-content: center;;
    width: 70%;
    margin: 23px auto;  
    border-radius: 12px;
    padding: 34px;
    background-image: url(bg.jpg);
    background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
}

#MyProgressBar{
    width: 80vw;
}

.songItem{
    height: 50px;
    background-color: white;
    color: black;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 12px 0;
    border-radius: 34px ;
    margin-bottom: 60%;
}



.songItem img {
    width: 43px;
    border-radius: 34px;
    margin: 0 23px;
}


.timestamp{
    margin: 0 23px;
} */




@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ysabeau SC', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 44px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 72vh;
    background-color: black;
    color: white;
   font-family:'Ysabeau SC', sans-serif;
   display: flex;
   margin: 23px auto;
   width: 70%;
   border-radius: 12px;
   padding: 34px;
   background-image: url('covers/bg4.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-size: auto;
}

.bottom{
    position: sticky;
    bottom: 0;
    height: 90px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.icons{
    margin-top: 14px; 
}
.icons i{
    cursor: pointer;
}

#myProgressBar {
    width: 80vw; 
    cursor: pointer;
}

.songItemContainer{
    margin-top: 74px;
}

.songItem{
    height: 30px;
    display: flex;
    background-color: white;
    width: 64%;
    height: 43px;
    color: black;
    margin:8px 15px;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img{
    width: 43px;
    margin: 0px;
    border-radius: 34px;
    
}

.timestamp{
    margin: 0 5px;
}

.timestamp i{
    cursor: pointer;
}

.songlistplay{
    padding: 30px;
}

.songTitle{
    display: flex;
    align-items: center;
    justify-content: center;
}

.songInfo img {
    width: 43px;
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

.songInfo {
    position: absolute;
    left: 10vw;
    font-family: 'Ysabeau SC', sans-serif;
}


.songlist h1 {
    color: black;
    margin-left: 227px;
}


.songName {
    margin-left: 52px;
    padding: 1px;
}